.header{
    background-color: #51a6ce;
}
.page{
    background-color: #e8eaeb;
    width: 100%;
    height:100%;
    overflow-x: hidden;
}
.body{
    padding:1rem ;
    margin-left: 5rem;
    margin-right: 5rem;

}
.formcontent{
    background-color: #ffffff;
    padding:1rem;
    line-height: 1rem;
}
.inp{
    width: 20rem;
}
   .but{
    margin-left: 1400px;
    }
    .form-group{
   padding: 10px;
   margin: 5px;
    }
     .aaa{
      font-style: inherit;
     }
#new{
  padding-left:20px;
}
#forms{
  font-weight:500;
}
.rad{
  font-size:16px;
  font-weight: 400;
  margin-right: 1rem;
}