.Professional{
 padding: 30px;
 margin: 10px;
 background-color: rgb(240, 255, 255);
}
.but{
 margin-left: 1400px;
 }
 .form-group{
padding: 10px;
margin: 5px;
 }
  .aaa{
   font-style: inherit;
  }
  #icons{
   margin-left:10px;
   color:red;
  }
  #color{
    color:green;
  }
 